<div class="container">
        <div class="row align-items-xl-center">
          <div class="col-md-1">
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-1">
            <p class="d-flex justify-content-center"></p>
          </div>
          <div class="col-md-10">
            <table class="table">
              <thead class="thead-dark">
              <button type="button" routerLink="/add-user" class="btn btn-primary">+</button>
              <br><br>
              <tr class="text-center">
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>     
              </tr>
              </thead>
              <tbody>
              <tr class="text-xl-center" *ngFor="let user of ( myAllUsers | async)">
                <td style="color:white">{{user.userEmail}}</td>
                <td style="color:white">{{user.userRole}}</td>
                <td>
                  <button type="button" (click)="UpdateUserNow(user.userEmail)"
                          class="btn btn-success btn-rounded btn-sl my-0">Update
                  </button>
                </td>
                <td>
                  <button type="button" (click)="deleteOneUser(user.userEmail)"
                          class="btn btn-danger btn-rounded btn-sl my-0">Remove
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-1">
            <p class="d-flex justify-content-center"></p>
          </div>
        </div>
</div>
      