<mat-card>
   <mat-card-title>WELCOME</mat-card-title>
   <mat-card-subtitle>Qui mange mieux code mieux</mat-card-subtitle>
  <img mat-card-image [src]="pasta" alt="pasta">
<!--<mat-video src="/assets/images/back.mp4" poster="/assets/images/hotel.jpg"></mat-video> -->
   <mat-card-content>
      Nous sommes un hôtel respectueux de l'environnement. 
Notre engagement au respect de l’environnement était un élément essentiel lors de la rénovation de notre hôtel.
Nous essayons constamment de garder nos chambres aussi écologiques que possible, suivant les derniers développements en matière isolante, le chauffage, 
la consommation d'énergie et d'autres méthodes, de sorte que lorsque vous réservez votre hébergement avec nous, vous êtes sûr que nous faisons de notre mieux pour 
assurer votre séjour sain et agréable.
Toutes les surfaces ont été peintes avec des produits de qualité supérieure. 
Nous avons utilisé des peintures à base d'eau qui sont respectueux de l'environnement et ont une odeur de peinture inférieure.
Les lumières dans toute l'hôtel sont équipées des lampes LED et nous aident à économiser 85% d'énergie.
   </mat-card-content>
  
   <mat-card-footer>
        <h1 style="text-align:center">© 2020 Copyright | Hotel Service </h1>
   </mat-card-footer>
   <!-- <footer class="page-footer font-small cyan darken-3">
      <div style="background-color: #9400D3">  
        <div class="footer-copyright text-center py-3"> © 2020 Copyright |
          <a> Edited By Yawovi Titche</a>
        </div>
      </div>
    </footer> -->
</mat-card> 

<!-- Navigation -->
          
          
